body{ 
    color: #000080; 
    background-color: white;
    background-position: center;
    width: 80%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
p { 
    text-align: center;
    color: black;
}
.texto-centrado{text-align: center;}
li{color: black;}
